/* h1{
    color: red;
} */


 /* 152. The Separation of Concerns: Structure vs Style vs Behaviour */

/* .invisible{
    visibility: hidden;
} */

/*https://developer.mozilla.org/en-US/docs/Web/CSS/@page/size */

/* .huge{
    font-size: 5rem; 
    size: 10rem;          
    font-weight: bold;
}  */